<div>
	<h1>Happy Birthday {{vm.personName || "Someone"}}!</h1>
	<pre>                    ``''   ``''  ``''
                   ` () ' ` () '` () '
                     ||     ||    ||
                  ___||_____||____||____
                 (|\  /\      /\    /\  |)
                 (| \/  \    /  \  /  \ |)
                  |      \  /    \/    \|
               ___|_______\/____________|___
              (|VvVvvvVvVVVvVvVVVvVvVVVvVvVv|)
              (|\Vv/ \Vv/ \vv/  \vV/   \vV/ |)
               | `!   `'   !'    !'     `!  |
               |  '    `    `     `      '  |
         ______|____________________________|______
        (((((((((((((((((((((0))))))))))))))))))))))
        (((((((((((((((((((((0))))))))))))))))))))))
         |                                         |
         |      *        *       *         *       |
         |  *       *        *        *        *   |
         |      *        *       *         *       |
         |^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^|
         ===========================================
     XxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxX
       xXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXxXx
         WwWwWwWwWwWwWwWwWwWwWwWwWwWwWwWwWwWwWwWwWwW
                    =====================
                    ^^^^^^^^^^^^^^^^^^^^^
                    \\\\\\\\\\\//////////
                      <<<<<<<<<>>>>>>>>>
                        >>>>>>><<<<<<<
                          <<<<<>>>>>
                            ######
                            $$$$$$
                            %%%%%%
                            &&&&&&
                           @@@@@@@@
                          !!!!!!!!!!
                         !!!!!!!!!!!!
                      ~~~~~~~~~~~~~~~~~~
                     `'`'`'`'`'`'`'`'`'`'
                  [][][][][][][][][][][][][]</pre>
	<pre>{{vm | json}}</pre>
	<button ng-click="vm.speak(vm.personName)">Speak!</button>
</div>